
.about-intro-section {
  img {
    float: right;
    max-height: 150px;
    border-radius: 3px;
    margin: 20px 0 10px 30px;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
  }
}
.my-background-section {
  display: flex;
  img {
    border-radius: 3px;
    margin: 20px 0 10px 30px;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
  }
}
