
.about-intro-section {
  img {
    float: right;
    max-height: 150px;
    border-radius: 3px;
    margin: 20px 0 10px 30px;
  }
}
.my-background-section {
  display: flex;
  img {
    border-radius: 3px;
    margin: 20px 0 10px 30px;
  }
}
