.banner-container {
    position: relative;
    overflow: hidden;
    height: 70vh;
    padding: 15% 0;
  .banner-content {
    position: relative;
    z-index: 2;
    h1 {
      text-align: center;
      color: $charcoal;
      text-shadow: 0.1px 0.1px;
      // font-family: 'Satisfy', cursive;
      // font-family: 'Tangerine', cursive;
      // font-family: 'Great Vibes', cursive;
      // font-family: 'Homemade Apple', cursive;
      font-family: 'Calligraffitti', cursive;
    }
  }
  .banner-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
  }
}
@media only screen and (min-width : 775px) {
  .banner-content {
    h1 {
      font-size: 55px;
    }
  }
}
@media only screen and (max-width : 774px) {
  .banner-content {
    h1 {
      font-size: 35px;
    }
  }
}
