.banner-container {
  position: relative;
}

.banner-header {
  color: $charcoal;
  font-family: 'Homemade Apple', cursive;
  margin: 12px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px white;
  top: 30%;
  z-index: 2;
  width: 100%;
}

.banner-image {
  opacity: 0.6;
  width: 100%;
  z-index: 1;
}

@media only screen and (max-width : 774px) {
  .banner-header {
    font-size: 1.8em;
  }
}

.home-information-item {
  padding: 50px 0;
  h3 {
    font-family: 'Calligraffitti', cursive;
  }
  p {
    font-size: 20px;
  }
  &:nth-child(odd) {
    background-color: rgba(158,146,157,0.15);
  }
}







