.footer {
  background-color: $brand-color;
  margin-top: 100px;
  padding: 10px;
  color: #776274;
}
.social-links {
  span {
    margin: 0 10px;
  }
  a {
    color: #776274;
    &:hover {
      color: #26408B;
    }
  }

}
