.page-heading {
  align-items: center;
  background-color: white;
  display: flex;
  margin: 6px 36px;
  justify-content: space-between;

  h1, h2, h3, h4, h5 {
    font-weight: lighter;
  }

  h1, h2 {
    color: $brand-color;
    margin-top: 0;
  }

  a {
    text-decoration: none;
    h4 {
      color: black
    }
    &:hover h4 {
      text-decoration: none;
    }
  }
}

.page-heading-contact-info {
  display: flex;
  justify-content: flex-end;
  p {
    font-weight: lighter;
  }
  i {
    padding: 3px 10px 0 0;
    color: $brand-color;
  }
}
