.navbar {
  margin-bottom: -1px;
  .navbar-container {
    padding: 0;
    margin: 0, -1px;
    .hht-navbar-collapse {
      // margin-top: 105px;
      background-color: $brand-color;
      text-align: center;
      margin-left: -15px;
      margin-right: -15px;
    }
      .navbar-list {
        float: none;
        display: inline-block;
        a {
          color: white;
        }
      }
  }

}
