.navbar {
  background-color: $brand-color;
  margin-bottom: 0;

  a {
    color: white;
  }

  .navbar-nav {
    margin-left: 40px;
    a:hover {
      color: $charcoal;
    }
  }

  .icon-bar {
    background-color: white;
  }
}
