.navbar {
  margin-bottom: -1px;
  background-color: $brand-color;
  a {
  color: white;
  }
  .navbar-container {
    padding: 0;
    margin: 0, -1px;
    .icon-bar {
      background-color: white;
    }
    .hht-navbar-collapse {
      text-align: center;
      margin-left: -15px;
      margin-right: -15px;
    }
      .navbar-list {
        float: none;
        display: inline-block;
        a {
        }
      }
  }

}
