<div class="page-heading">
  <%= link_to '/' do %>
    <div>
      <h2>Harmony Holistic Therapies</h2>
      <h4>Holistic therapies for your inner well-being</h4>
    </div>
  <% end %>

  <div>
    <div class="page-heading-contact-info">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      <p>harmonyholistictherapiesD15@gmail.com</p>
    </div>
    <div class="page-heading-contact-info">
      <i class="fa fa-phone" aria-hidden="true"></i>
      <p>00 353 86 0216029</p>
    </div>
  </div>
</div>
