<div class="col-xs-12 col-md-8 col-md-offset-2">
  <div class="page-heading">
    <div class="page-heading-left">
      <h2>Harmony Holistic Therapies</h2>
      <h4>Holistic therapies for your inner well-being</h4>
    </div>
    <div class="page-heading-right">
      <div class="page-heading-contact-info">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <p>harmonyholistictherapiesD15@gmail.com</p>
      </div>
      <div class="page-heading-contact-info">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <p>00 353 87 9973150</p>
      </div>
    </div>
  </div>
</div>
