<div class="page-heading">
  <div class="container heading-container">
    <div class="row"></div>
      <div class="heading-space space-left col-xs-0 col-md-1">
      </div>
      <div class="page-heading-left col-xs-6 col-md-5">
        <h2>Harmony Holistic Therapies</h2>
        <h4>Holistic therapies for your inner well-being</h4>
      </div>
      <div class="page-heading-right col-xs-6 col-md-5">
        <div class="page-heading-contact-info">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <p>harmonyholistictherapiesD15@gmail.com</p>
        </div>
        <div class="page-heading-contact-info">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <p>00 353 86 0216029</p>
        </div>
      </div>
      <div class="heading-space space-right col-xs-0 col-md-1">
      </div>
    </div>
  </div>
</div>
