<nav class="navbar">
  <div class="navbar-container container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hht-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="hht-navbar-collapse collapse navbar-collapse" id="hht-navbar-collapse">
      <ul class="navbar-list nav navbar-nav">
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/healthy_tips">Tips for Healthy Living</a></li>
        <li><a href="/recipes">Recipes</a></li>
        <li><a href="/reviews">Reviews</a></li>
        <li><a href="/useful_links">Useful Links</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="/contacts">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
