<header class="bs-docs-nav navbar navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" id="bs-navbar">
      <ul class="nav navbar-nav">
        <li><a href="/about">About Us</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/healthy_tips">Tips for Healthy Living</a></li>
        <li><a href="/recipes">Recipes</a></li>
        <li><a href="/reviews">Reviews</a></li>
        <li><a href="/useful_links">Useful Links</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Blog</a></li>
        <li><a href="/contacts">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>
