<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h3 class="text-center page-title">About</h3>
      <div class="section">
        <h4>Holistic therapies for your inner wellbeing</h4>
        <%= image_tag "bed.jpg", height: "150px", :class => "section-image section-image-right" %>
        <p>Harmony Holistic Therapies provides a relaxing, calm environment, in which you can de-stress or allow yourself some relaxation time.</p>
        <p>I believe in the importance of treating the person holistically, that is, not simply treating physical symptoms.  Prior to treatment, I carry out a consultation which allows me to get a good picture of your lifestyle, diet, general health, and current and past illnesses or injuries.  This enables me to ensure that you get the best from your treatment and to provide you with helpful aftercare advice.</p>
        <p>Holistic therapies such as Reflexology, work on the principle of energy or life force, flowing through the body.  When illness occurs, it indicates that this energy flow has become blocked and caused the disharmony.  I believe the body has it's own inner wisdom and given the opportunity, can heal itself.  It is very important to listen to the body's signals.  My objective is to empower the client to improve their health and wellbeing.</p>
      </div>
      <div class="section">
        <h4>My background</h4>
        <%= image_tag "michelle_profile.jpg", height: "180px", :class => "section-image section-image-left" %>
        <p>I studied Reflexology with Suaimneas Reflexology in Walmer College &amp; Holistic Centre in 2007. As a follow on to this, I completed the ITEC Diploma in Diet &amp; Nutrition for Complementary Therapists and ITEC Indian Head Massage Diploma course in Walmer College.  I have also attended workshops and training in Reflexology for Pregnancy &amp; Sub-fertility and Reflexology for Babies &amp; Toddlers.</p>
        <p>I have always had a keen interest in the importance of food and how it can impact on our wellbeing.  As well as providing general advice on eating for  health, I can provide information on certain foods that can help with different conditions.</p>
      </div>
      <div class="section">
        <h4>Qualifications</h4>
        <p>Reflexology: ITEC Diploma, ABC Awards (AOR)
        Diet &amp; Nutrition: ITEC Diploma in Diet &amp; Nutrition for Complementary Therapists.
        Indian Head Massage: ITEC Diploma</p>
        <p>Other courses/workshops attended: Reflexology for Pregnancy and Sub-fertility, Reflexology for Babies &amp; Toddlers, Reflexology for Cancer Care</p>
        <p>I am a member of the Irish Reflexologists Institute. See <a href="http://reflexology.ie/">www.reflexology.ie</a>.</p>
        <p>Approved by VHI, Aviva, Laya Healthcare, and Glo Health.</p>
      </div>
    </div>
  </div>
</div>

