<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h3>Please get in touch to schedule an appointment.</h3>

      <div id="address-map" style='background-image: url("https://maps.googleapis.com/maps/api/staticmap?center=31 Hollystown Demesne, Hollystown, Dublin 15, Co.Dublin&zoom=15&key=AIzaSyB43mAjLeq18-tumQ8ytChKGtMM_Rr1Wx0&size=1200x600&sensor=false&maptype=roadmap&markers=color:red|31 Hollystown Demesne, Hollystown, Dublin 15, Co.Dublin");
      '>
      </div>
    </div>
  </div>
</div>
