<div class="banner-container">
  <div class="banner-content">
    <h1>Holistic therapies for your inner well-being</h1>
  </div>
  <%= image_tag "reflexology_background_2.png", :class => "banner-image" %>
</div>
