<div class="banner-container">
  <div class="banner-content">
    <div class="row">
      <div class="col-xs-12 col-centered">
        <h1>Holistic therapies for your inner well-being</h1>
      </div>
    </div>
  </div>
  <%= image_tag "candles_background.jpg", :class => "banner-image" %>
</div>
