<div class="banner-container">
  <h1 class="banner-header">Holistic therapies for your inner well-being</h1>
  <%= image_tag "candles_background.jpg", :class => "banner-image" %>
</div>

<div class="home-information-section home-info-section-odd text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h3>Holistic Therapies</h3>
      <p>Holistic therapies such as Reflexology, work on the principle of energy or life force, flowing through the body.  When illness occurs, it indicates that this energy flow has become blocked and caused the disharmony.  I believe the body has its own inner wisdom and given the opportunity, can heal itself.  It is very important to listen to the body's signals.  My objective is to empower the client to improve their health and wellbeing.</p>
    </div>
  </div>
</div>
<div class="home-information-section home-info-section-even text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h3>What is Reflexology?</h3>
        <p>Reflexology is an ancient healing art based on the principle that the body will, given the opportunity, heal itself and bring about a state of natural balance and harmony in order to function to its full capacity.  Reflexology is natural holistic therapy based on the discovery that there are points on the feet and hands which correspond to organs, systems and structures within the entire body.  Reflexology aims, by using pressure techniques to stimulate the reflex points, to release blockages in the body’s energy zones which can cause disease and disorder.</p>
    </div>
  </div>
</div>
<div class="home-information-section home-info-section-odd text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h3>Benefits of Reflexology</h3>
      <ul class="list-inline">
        <li>&bull; Helps maintain general health</li>
        <li>&bull; Reduces stress and tension by relaxing the whole person</li>
        <li>&bull; Relieves pain</li>
        <li>&bull; Stimulates circulation</li>
        <li>&bull; Removes waste</li>
        <li>&bull; Allows the system to balance itself</li>
      </ul>
      <p>Reflexology is rapidly growing in popularity in Ireland and is becoming firmly established as an effective and gentle complementary therapy, which is suitable for all ages and throughout every stage of life.  This gentle therapy may bring relief from a wide range of both acute and chronic conditions.  Reflexology induces a state of deep relaxation and since a very high percentage of disease is believed to be stress related, this is a major contribution to the maintenance and return of health.</p>
    </div>
  </div>
</div>
<div class="home-information-section home-info-section-even text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h3>Do I Need Reflexology?</h3>
      <p>Reflexology has been shown to be effective for:</p>
      <ul class="list-inline">
        <li>&bull; Back Pain</li>
        <li>&bull; Migraine</li>
        <li>&bull; Sinusitis</li>
        <li>&bull; Infertility</li>
        <li>&bull; Arthritis</li>
        <li>&bull; Sleep Disorders</li>
        <li>&bull; Sports Injuries</li>
        <li>&bull; Hormonal Imbalances</li>
        <li>&bull; Digestive Disorders such as Irritable Bowel Syndrome (IBS)</li>
        <li>&bull; Stress-related Conditions</li>
        <li>&bull; Depression</li>
      </ul>
    </div>
  </div>
</div>
<div class="home-information-section home-info-section-odd">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="centered-text text-center">
        <h3>Reflexology in Pregnancy and Labour</h3>
        <p>Reflexology is a wonderful therapy to use during pregnancy and labour. It will not interfere with the viability of the pregnancy but some clients may prefer to wait until after the twelfth week to avail of its benefits.</p>
      </div>
      <h5>Benefits include:</h5>
      <ul>
        <li>Reducing morning sickness, all day sickness, and vomiting which persists past the three month stage of the pregnancy. Reflexology is recommended by the National Maternity Hospital, Holles Street, Dublin for this problem.</li>
        <li>Helps to relieve indigestion, lower back pain, haemorrhoids and constipation.</li>
        <li>Prepares the body for labour by balancing all the body systems especially the endocrine system which governs the labour process.</li>
        <li>The length of labour can be very much reduced by having regular reflexology treatments in the weeks prior to the expected delivery date.</li>
        <li>Reflexology can be used during labour to help boost energy levels, and aids deep muscle relaxation between contractions. It helps with pain control by stimulating the production of natural endorphins.  Partners can be taught the areas of the foot to treat during labour. Using reflexology can reduce the need for epidurals.</li>
        <li>After the birth, reflexology babies are very calm, suckle better and are less prone to colic.</li>
        <li>Using reflexology after labour can help expel a retained placenta, can promote rapid healing of episiotomies, will encourage breast milk production, and can help relieve urinary retention.</li>
        <li>Many couples experiencing difficulty in conceiving have found reflexology very beneficial in helping them achieve pregnancy.</li>
      </ul>
      <h5>Contraindications to having reflexology during pregnancy:</h5>
      <ul>
        <li>Threatened miscarriage</li>
        <li>Any vaginal bleeding</li>
        <li>Eclampsia</li>
        <li>Deep vein thrombosis</li>
        <li>History of blood clotting/Warfarin medication</li>
        <li>Unstable diabetics</li>
      </ul>
      <h5>Major caution would be used and a doctor’s permission sought in cases of:</h5>
      <ul>
        <li>Diabetes</li>
        <li>Those on heavy medication</li>
      </ul>
      <p>For further information please check the Irish Reflexologists Institute website www.reflexology.ie</p>
    </div>
  </div>
</div>
<div class="home-information-section home-info-section-even text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h3>Reflexology for Babies &amp; Toddlers - courses for parents</h3>
      <p>Help your baby or toddler naturally with baby reflex! Reflexology for Babies &amp; Toddlers training course. Boosting the immune system, easing colic, wind, reflux, constipation, tummy upset, teething pains and easing congestion. Baby reflex is a course which is run over a few weeks, created to help parents with the well-being of their child and to strengten the loving bond. Baby reflex is an easy routine, giving parents an additional tool in fun, hands-on workshops.</p>
    </div>
  </div>
</div>

