<div class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "bed.jpg" %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag "lamps.jpg" %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag "forest.jpg" %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag "lotus_flower.jpg" %>
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="welcome-info">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="welcome-info-item">
            <h4>What is Reflexology?</h4>
            <p>Holistic therapies such as Reflexology, work on the principle of energy or life force, flowing through the body. When ill, this flow becomes blocked - reflexology can help to overcome this blockage.</p>
            <a href="#">Read more</a>
          </div>

        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="welcome-info-item">
            <h4>About Michelle</h4>
            <p>Trained professional in reflexology and Indian head massage with almost ten years of experience. I have always had a keen interest in the importance of food and how it can impact on our wellbeing. </p>
            <a href="#">Read more</a>
          </div>

        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="welcome-info-item">
            <h4>Our Offerings</h4>
            <ul>
              <li>Reflexology</li>
              <li>Indian Head Massage</li>
              <li>Diet &amp; Nutrition</li>
              <li>Baby Reflex</li>
              <li>Baby &amp; Toddler Reflexology courses for parents</li>
            </ul>
            <a href="#">More details</a>

          </div>

        </div>
      </div>

    </div>

  </div>
</div>
</div>
