<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h3 class="page-title">Client Reviews</h3>
      <div class="client-review">
        <p>"I started seeing Michelle when I was going through a very difficult time. I was suffering with stress and anxiety and had a lot of sleepless nights.</p><p>On my first session, Michelle put me completely at ease. She was very pleasant and caring. Michelle is a very skilled, intuitive and friendly person. Her treatments not only relax and energize you, but during treatments, it helps reveal the areas in your body that need special attention, and all done in a very calming atmosphere.  She also went through my diet and gave very good nutritional advice.</p><p>After a few sessions I noticed a huge improvement in my sleep pattern and generally feel much more relaxed.  So if you desire a feel good treat or a relaxing hour book a treatment, your body and mind will thank you for it.  I always leave her with a wonderful feeling of wellbeing. I really look forward to every treatment and cannot recommend her highly enough."</p>
      </div>
      <div class="client-review">
        <p>"I've been a customer with Michelle for a couple of years now and absolutely highly recommend her. It's time to proactively promote your own good health and peace of mind."</p>
      </div>
      <h5>On Baby Reflexology Classes:</h5>
      <div class="client-review">
        <p>"I would highly recommend Michelle's Baby Reflexology coures.  I have found it to be of great benefit to my 5 month old baby and for the rest of the family."</p>
      </div>
      <div class="client-review">
        <p>"Michelle has an excellent manner, very professional and competent, yet totally relaxed and easy-going. I thoroughly enjoyed the sessions and looked forward to them each week. I have already seen benefits with baby sleeping better and generally more relaxed and settled.  Michelle is a fountain of knowledge, with great advice in so many areas."</p>
      </div>
    </div>
  </div>
</div>
