<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h3 class="text-center page-title">Services</h3>
        <div class="pricing-table">
          <div class="row pricing-table-row pricing-table-row">
            <div class="col-xs-6 col-sm-7">
              <p>Reflexology treatment</p>
            </div>
            <div class="col-xs-2 col-sm-1">
              <p>€50.00</p>
            </div>
            <div class="col-xs-4 col-sm-4">
              <p>50 mins + consultation</p>
            </div>
          </div>
          <div class="row pricing-table-row">
            <div class="col-xs-6 col-sm-7">
              <p>Indian Head Massage treatment</p>
            </div>
            <div class="col-xs-2 col-sm-1">
              <p>€40.00</p>
            </div>
            <div class="col-xs-4 col-sm-4">
              <p>40 mins + consultation</p>
            </div>
          </div>
          <div class="row pricing-table-row">
            <div class="col-xs-6 col-sm-7">
              <p>Indian Head Massage, followed by mini reflexology treatment</p>
            </div>
            <div class="col-xs-2 col-sm-1">
              <p>€55.00</p>
            </div>
            <div class="col-xs-4 col-sm-4">
              <p>60 mins + consultation</p>
            </div>
          </div>
          <div class="row pricing-table-row">
            <div class="col-xs-6 col-sm-7">
              <p>Diet &amp; Nutrition consultation</p>
            </div>
            <div class="col-xs-2 col-sm-1">
              <p>€50.00</p>
            </div>
            <div class="col-xs-4 col-sm-4">
              <p>1 hour + 15 mins for initial consultation</p>
            </div>
          </div>
          <div class="row pricing-table-row">
            <div class="col-xs-6 col-sm-7">
              <p>Personal Coaching</p>
            </div>
            <div class="col-xs-6 col-sm-5">
              <p>(Prices available on request)</p>
            </div>
          </div>

        </div>
        <p class="text-center">Reduced prices for children and OAPs!</p>
        <p class="text-center">Gift vouchers available.</p>
    </div>
  </div>
</div>
