// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";
@import "shared/index";
@import "recipes";
@import "contact";
@import "healthy_tips";
@import "devise";


body {
  margin-bottom: 150px;
  font-weight: lighter;
}
.page-title {
  margin: 30px 0;
}
.section {
  margin-bottom: 40px;
}
.section-image {
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
  border-radius: 3px;
}
.section-image-left {
  float: left;
  margin-right: 18px;
}
.section-image-right {
  float: right;
  margin-left: 12px;
}
.modal-dialog {
  width: 75%;
}
a[data-toggle="modal"] {
  outline: none;
}
