.contact-form {
  margin-top: 30px;
}

.hidden {
  display: none;
}

.alert-error, .alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success, .alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

#address-map {
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  margin-top: 30px;
}
