.contact-form {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#address-map {
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  margin-top: 30px;
}

#contact_message {
  min-height: 106px;
}

.contact-flash-container {
  text-align: center;
  font-size: 28px;
  margin-top: 50px;
}

.other-contact-info {
  margin-top: 30px;
  .other-contact-info-label {
    font-weight: normal;
    line-height: 2;
  }
}
