#contact-form {
  margin-top: 30px;

  label > abbr {
    display: none;
  }
}

.hidden {
  display: none;
}

.send-message-button:not([disabled]) {
  background-color: $silk;
  border: none;
  color: white;
  transition: all 0.3s ease;
  &:hover {
    background-color: $silk;
    color: $charcoal;
  }
}
#contact_message {
  min-height: 106px;
}

.contact-flash-container {
  text-align: center;
  font-size: 28px;
  margin-top: 50px;
}

#address-map {
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  margin-top: 30px;
}
.other-contact-info {
  margin-top: 30px;
  .other-contact-info-label {
    font-weight: normal;
    line-height: 2;
  }
}
