// Place all the styles related to the HealthyTips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.healthy-tip-link {
  color: black;
}

.healthy-tip-text {
  margin-top: 20px;
  max-height: 175px;
  text-overflow: ellipsis;
  overflow: hidden;
}
