// Place all the styles related to the HealthyTips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
    transition: all 0.3s ease;
}
.card:hover {
    opacity: 0.8;
}

.healthy-tip-link {
  color: black;
  &:hover, &:active, &:focus {
    color: black;
    i {
      color: darken($sandy, 30%);
    }
  }
}

.healthy-tip-text {
  margin-top: 20px;
  min-height: 175px;
  max-height: 175px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.healthy-tip-show-more {
  background: white;
  background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 42px;
  text-align: right;
  position: absolute;
  width: 100%;
}
